
@model YritusedListViewModel

@{
    ViewBag.Title = "Üritused";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="/lib/yritus/src/yritusedlist.js"></script>
<link rel="stylesheet" href="/lib/yritus/css/yritus.css" />

<div class="table-responsive bgcolor">
    <table class="table table-sm table-hover table-condensed">
        <thead class="thead-light">
            <tr>
                <th class="th-align-right"><a href='@OrderHref("Id")'><span id="spId" class="alink">Number</span></a></th></th>
                <th class="th-align-left"><a href='@OrderHref("YrituseNimi")'><span id="spYrituseNimi" class="alink">Ürituse nimi</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("YrituseAeg")'><span id="spYrituseAeg" class="alink">Ürituse aeg</span></a></th>
                <th class="th-align-left"><a href='@OrderHref("YrituseKoht")'><span id="spYrituseKoht" class="alink">Ürituse koht</span></a></th>
                <th class="th-align-left"><a href='@OrderHref("Lisainfo")'><span id="spLisainfo" class="alink">Lisainfo</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Osavõtjaid")'><span id="spOsavotjaid" class="alink">Osavõtjaid</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Loodud")'><span id="spLoodud" class="alink">Loodud</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Muudetud")'><span id="spMuudetud" class="alink">Muudetud</span></a></th>
                <th class="th-align-center">Toimingud</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Yritus y in Model.Yritused ?? new List<Yritus>())
            {
                <tr>
                    @{
                        var yrituseaeg = CreatedDateTime((DateTime)y.YrituseAeg);
                        var loodud = CreatedDateTime(y.Loodud);
                        var muudetud = y.Muudetud == null ? string.Empty : CreatedDateTime((DateTime)y.Muudetud);
                    }
                    <filtercell class="yritus-right-justified input-Id" name="Id" id="@y.Id" value="@y.Id" />
                    <filtercell class="yritus-left-justified input-YrituseNimi" name="YrituseNimi" id="@y.Id" value="@y.YrituseNimi" />
                    <td class="yritus-right-justified" id="YrituseAeg_cell_@y.Id">
                        @yrituseaeg
                    </td>
                    <filtercell class="yritus-left-justified input-YrituseKoht" name="YrituseKoht" id="@y.Id" value="@y.YrituseKoht" />
                    <filtercelltooltip class="yritus-results-left-justified input-Lisainfo" name="Lisainfo" id="@y.Id" value="@GetLisainfo(y.Lisainfo)" 
                        toggle="tooltip" placement="top" title="@y.Lisainfo" />
                    <td class="yritus-right-justified input-Osavotjaid" id="Osavotjaid_cell_@y.Id">
                        @y.Osavotjaid
                    </td>
                    <td class="yritus-right-justified input-Loodud" id="Loodud_cell_@y.Id">
                        @loodud
                    </td>
                    <td class="yritus-right-justified input-Muudetud" id="Muudetud_cell_@y.Id">
                        @muudetud
                    </td>
                    <td class="yritus-center-justified">
                        @{
                            if (y.Osavotjaid == null || y.Osavotjaid == 0)
                            {
                                var tooltipTitle = string.Format("Kustutada üritus {0}", y.Id);
                                <a href="#"><i class="fas fa-trash" style="font-size: 1.25em; color: #140c30;" onclick="kustutaYritus('@y.Id')" 
                                    data-toggle="tooltip" data-placement="left" data-type="info" title="@tooltipTitle"></i></a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="model_orderby" value="@Model.OrderBy" />
    <input type="hidden" id="model_pageno" value="@Model.PagingInfo.PageNo" />
    <input type="hidden" id="model_pagesize" value="@Model.PagingInfo.PageSize" />
    <input type="hidden" id="model_filterfield" value="@Model.FilterField" />
    <input type="hidden" id="model_filtervalue" value="@Model.FilterValue" />
</div>

@functions {
    private string? OrderHref(string field) => @Url.Action("List", "Yritus", 
        new { 
            orderby = field, 
            orderbybefore = Model.OrderBy, 
            p = Model.PagingInfo.PageNo, 
            s = Model.PagingInfo.PageSize, 
            filterField = Model.FilterField, 
            filterValue = Model.FilterValue 
        });

    public string CreatedDateTime(DateTime date)
    {
        return Beautify(date.Day) + "." + Beautify(date.Month) + "." + date.Year + " " + Beautify(date.Hour) + ":" + Beautify(date.Minute) + ":" + Beautify(date.Second);
    }

    private string Beautify(int partOfDate)
    {
        if (partOfDate < 10)
        {
            return "0" + partOfDate.ToString();
        }
        else
        {
            return partOfDate.ToString();
        }
    }

    private string GetLisainfo(string? lisainfo)
    {
        if (string.IsNullOrEmpty(lisainfo)) return string.Empty;

        if (lisainfo.Length > 180) return lisainfo.Substring(0, 180) + "...";

        return lisainfo;
    }
}
