
@model OsavotjadListViewModel

@{
    ViewBag.Title = "Osavõtjad";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="/lib/yritus/src/osavotjadlist.js"></script>
<link rel="stylesheet" href="/lib/yritus/css/osavotja.css" />

<div class="table-responsive bgcolor">
    <table class="table table-sm table-hover table-condensed">
        <thead class="thead-light">
            <tr>
                <th class="th-align-right"><a href='@OrderHref("Id")'><span id="spId" class="alink">Number</span></a></th></th>
                <th class="th-align-left"><a href='@OrderHref("Eesnimi")'><span id="spEesnimi" class="alink">Eesnimi</span></a></th>
                <th class="th-align-left"><a href='@OrderHref("Perenimi")'><span id="spPerenimi" class="alink">Perekonnanimi</span></a></th>
                <th class="th-align-center"><a href='@OrderHref("Liik")'><span id="spLiik" class="alink">Juriidiline/Füüsiline isik</span></a></th>
                <th class="th-align-left"><a href='@OrderHref("Isikukood")'><span id="spIsikukood" class="alink">Isikukood</span></a></th>
                <th class="th-align-center"><a href='@OrderHref("Makseviis")'><span id="spMakseviis" class="alink">Makseviis</span></a></th>
                <th class="th-align-left"><a href='@OrderHref("Lisainfo")'><span id="spLisainfo" class="alink">Lisainfo</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Yritusi")'><span id="spYritusi" class="alink">Üritusi</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Loodud")'><span id="spLoodud" class="alink">Loodud</span></a></th>
                <th class="th-align-right"><a href='@OrderHref("Muudetud")'><span id="spMuudetud" class="alink">Muudetud</span></a></th>
                <th class="th-align-center">Toimingud</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Osavotja o in Model.Osavotjad ?? new List<Osavotja>())
            {
                <tr>
                    @{
                        var loodud = CreatedDateTime(o.Loodud);
                        var muudetud = o.Muudetud == null ? string.Empty : CreatedDateTime((DateTime)o.Muudetud);
                    }
                    <filtercell class="osavotja-right-justified input-Id" name="Id" id="@o.Id" value="@o.Id" />
                    <filtercell class="osavotja-left-justified input-Eesnimi" name="Eesnimi" id="@o.Id" value="@o.Eesnimi" />
                    <filtercell class="osavotja-left-justified input-Perenimi" name="Perenimi" id="@o.Id" value="@o.Perenimi" />
                    <filtercell class="osavotja-center-justified input-Liik" name="Liik" id="@o.Id" value="@GetLiik(o.Liik)" />
                    <filtercell class="osavotja-left-justified input-Isikukood" name="Isikukood" id="@o.Id" value="@o.Isikukood" />
                    <filtercell class="osavotja-center-justified input-Makseviis" name="Makseviis" id="@o.Id" value="@GetMakseviis(o.Makseviis)" />
                    <filtercelltooltip class="osavotja-left-justified input-Lisainfo" name="Lisainfo" id="@o.Id" value="@GetLisainfo(o.Lisainfo)"
                        toggle="tooltip" placement="top" title="@o.Lisainfo" />
                    <td class="osavotja-right-justified input-Yritusi" id="Yritusi_cell_@o.Id">
                        @o.Yritusi
                    </td>
                    <td class="osavotja-right-justified input-Loodud" id="Loodud_cell_@o.Id">
                        @loodud
                    </td>
                    <td class="osavotja-right-justified input-Muudetud" id="Muudetud_cell_@o.Id">
                        @muudetud
                    </td>
                    <td class="osavotja-center-justified">
                        @{
                            if (o.Yritusi == null || o.Yritusi == 0)
                            {
                                var tooltipTitle = string.Format("Kustutada osavõtja {0}", o.Id);
                                <a href="#">
                                    <i class="fas fa-trash" style="font-size: 1.25em; color: #140c30;" onclick="kustutaOsavotja('@o.Id')"
                                       data-toggle="tooltip" data-placement="left" data-type="info" title="@tooltipTitle"></i>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="model_orderby" value="@Model.OrderBy" />
    <input type="hidden" id="model_pageno" value="@Model.PagingInfo.PageNo" />
    <input type="hidden" id="model_pagesize" value="@Model.PagingInfo.PageSize" />
    <input type="hidden" id="model_filterfield" value="@Model.FilterField" />
    <input type="hidden" id="model_filtervalue" value="@Model.FilterValue" />
</div>

@functions {
    private string? OrderHref(string field) => @Url.Action("List", "Osavotja",
        new
        {
            orderby = field,
            orderbybefore = Model.OrderBy,
            p = Model.PagingInfo.PageNo,
            s = Model.PagingInfo.PageSize,
            filterField = Model.FilterField,
            filterValue = Model.FilterValue
        });

    public string CreatedDateTime(DateTime date)
    {
        return Beautify(date.Day) + "." + Beautify(date.Month) + "." + date.Year + " " + Beautify(date.Hour) + ":" + Beautify(date.Minute) + ":" + Beautify(date.Second);
    }

    private string Beautify(int partOfDate)
    {
        if (partOfDate < 10)
        {
            return "0" + partOfDate.ToString();
        }
        else
        {
            return partOfDate.ToString();
        }
    }

    private string GetLisainfo(string? lisainfo)
    {
        if (string.IsNullOrEmpty(lisainfo)) return string.Empty;

        if (lisainfo.Length > 150) return lisainfo.Substring(0, 150) + "...";

        return lisainfo;
    }

    private string GetLiik(string? liik)
    {
        if (string.IsNullOrEmpty(liik)) return string.Empty;

        if (liik == "J")
        {
            return "Juriidiline isik";
        }
        else if (liik == "F") 
        {
            return "Füüsiline isik";
        }
        else
        {
            return liik;
        }
    }

    private string GetMakseviis(string? makseviis)
    {
        if (string.IsNullOrEmpty(makseviis)) return string.Empty;

        if (makseviis == "S")
        {
            return "Sularahas";
        }
        else if (makseviis == "P")
        {
            return "Pangaülekandega";
        }
        else
        {
            return makseviis;
        }
    }
}
